@use "global" as *;
.blog {
  margin-top: rem(80);
  position: relative;

  @include mq("md") {
    background-image: url("../images/common/blog-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-top: 0;
    padding-top: rem(100);
  }
}

.blog__bg-image {
  display: none;

  @include mq("md") {
    display: block;
    width: 30%;
    max-width: rem(437);
    position: absolute;
    top: rem(24);
    left: rem(100);
  }
}

.blog__inner {
  max-width: rem(600);
}

.blog__heading {
  padding-top: rem(6);

  @include mq("md") {
    color: white;
    padding-top: 0;
  }
}

.blog-heading__title-en {
  @include mq("md") {
    color: white;
  }
}

.heading__title-en.blog-heading__title-en::first-letter {
  @include mq("md") {
    color: white;
  }
}

.blog-heading__title-ja {
  @include mq("md") {
    color: white;
  }
}

.blog__cards {
  display: flex;
  flex-direction: column;
  gap: rem(41);
  margin-top: rem(30);

  @include mq("md") {
    flex-direction: row;
    margin-top: rem(86);
  }
}

.blog__card {
}

.blog__button {
  text-align: center;
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}
