@use "global" as *;

.blog-card {
  background: $white;
  margin-right: rem(6);
  margin-left: rem(6);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  padding: rem(16) rem(16) rem(24) rem(16);

  @include mq("md") {
    margin-right: 0;
    margin-left: 0;
  }
}
.blog-card:hover .blog-card__image img {
  transform: scale(1.1);
}

.blog-card__image {
  aspect-ratio: 301/201; // 幅 / 高さ
  overflow: hidden;
}

.blog-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.blog-card__body {
  padding-top: rem(17);
  line-height: 1.5;
}

.blog-card__body-time {
  font-family: $english-family;
  font-size: rem(12);
}

.blog-card__body-title {
  font-weight: 500;
  position: relative;
  font-size: rem(16);
}

.blog-card__body-title::after {
  background-color: $accent-color;
  bottom: rem(-5);
  content: "";
  display: block;
  height: rem(1);
  left: 0;
  position: absolute;
  width: 100%;
}

.blog-card__body-text {
  padding-top: rem(20);
}
