@use "global" as *;
.campaign {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(120);
    overflow: hidden;
    padding-bottom: rem(10);
  }
}

.campaign__inner {
  position: relative;
}

.campaign__heading {
  padding-top: rem(4);

  @include mq("md") {
    padding-top: rem(1);
  }
}

.campaign__cards {
  margin-top: rem(32);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  // gap: 0;
  // gap: 40px;

  @include mq("md") {
    width: 100vw;
    margin-right: calc(50% - 50vw);
    margin-top: rem(45);
  }
}

.campaign__card {
}

.campaign__button {
  margin-top: rem(30);
  text-align: center;
  @include mq("md") {
    margin-top: rem(70);
  }
}
