@use "global" as *;
.fv {
  position: relative;
  height: 100vh;
}

.fv__image {
  aspect-ratio: 375 / 667; // 幅 / 高さ
  overflow: hidden;
  height: 100vh;
  width: 100%;

  @include mq("md") {
    aspect-ratio: 1440 / 768;
  }
}

.fv__image picture {
  width: 100%;
  // height: 100%;
  object-fit: cover;
}

.fv__inner {
}

.fv__heading {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  z-index: 10;
  display: inline-block;
  overflow: hidden;

  @include mq("md") {
    top: 50%;
  }
}

.fv__title {
  font-family: "lato", sans-serif;
  font-size: rem(40);
  font-weight: 400;
  letter-spacing: 21.6px;
  line-height: 1.5;
  text-align: center;
  margin-left: rem(21.6);

  @include mq("md") {
    font-size: rem(80);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 43.2px;
    margin-left: rem(43.2);
  }
}

.fv__subtitle {
  font-family: $english-family;
  font-size: 20px;
  text-align: center;
  line-height: 1;

  @include mq("md") {
    text-align: center;
    font-size: rem(24);
  }
}
