@use "global" as *;
.page-campaign {
}

.page-campaign__inner {
  position: relative;
}

.page-campaign__fv {
}

.page-campaign__fv-image {
}

.page-campaign__heading {
}

.page-campaign__tags {
  margin-top: rem(52);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;

  @include mq(md) {
    grid-template-columns: repeat(6, 1fr);
    gap: 21px 16px;
    margin-top: rem(150);
  }
}

.page-campaign__tag {
  
}

.page-campaign__tag a {
  display: inline-block;
  width: 162px;
  text-align: center;
  padding: rem(6) rem(5);
  line-height: 1.5714;
  color: $accent-color;
  background-color: $white;
  border: 1px solid $accent-color;
  transition: background-color 0.3s, color 0.3s;
}

.page-campaign__tag a:hover {
  background-color: $accent-color;
  color: $white;
}

.page-campaign__head-image {
  position: absolute;
  width: rem(301);
  max-width: 100%;
  top: rem(674);
  left: rem(-65);
  z-index: -1;
}

.page-campaign__cards {
  margin-top: rem(40);
  padding-right: rem(33);
  padding-left: rem(33);
  display: grid;
  gap: rem(80) rem(40);
  grid-template-columns: repeat(2, 1fr);

  @include mq("md") {
    padding-right: 0;
    padding-left: 0;
  }

}

.page-campaign-card__image {
  @include mq("md") {
    aspect-ratio: 520/347;
  }
}

.page-campaign-card__body {
}

.page-campaign-card__body-tag {
}

.page-campaign-card__body-title {
}

.page-campaign-card__body-text {
}

.page-campaign-card__body-price {
}

.page-campaign-card__body-price-before {
}

.page-campaign-card__body-price-after {
}

.page-campaign__button {
}
