@use "global" as *;

.page-about-head__inner {
  position: relative;
}
.page-about__fv {
}
.page-about__fv-image {
}
.page-about__heading {
}

.page-about-head__images {
  margin-top: rem(52);
  aspect-ratio: 345/228;
}

.page-about__image1 {
}

.page-about-head__image1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.page-about__head-head-image {
  position: absolute;
  z-index: -1;
  width: rem(120);
  top: rem(-24);

  @include mq("md") {
    width: rem(301);
    max-width: 100%;
    top: rem(674);
    left: rem(-65);
  }
}

.page-about-head__foot-image {
  display: none;

  @include mq("md") {
    position: absolute;
    z-index: -1;
    width: rem(301);
    max-width: 100%;
    top: rem(674);
    left: rem(-65);
  }
}

.page-about-head__title {
  position: absolute;
  top: rem(24);
  left: rem(24);
  color: $white;
  z-index: 2;
}

.page-about-head__content {
}
.page-about-head__body {
}
.page-about-head__text {
}

.container {
  display: grid;
  gap: rem(8);
  grid-auto-flow: row;
  height: rem(500);

  grid-template-areas:
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3"
    "item4 item4 item4"
    "item5 item5 item5"
    "item6 item6 item6";

  @include mq("md") {
    grid-template-columns: 1fr 0.2fr 1.8fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "item1 item2 item2"
      "item1 item3 item3"
      "item4 item4 item6"
      "item5 item5 item6";
    gap: rem(8) rem(8);
  }
}

.page-about-gallery__pic1 {
  grid-area: item1;
  aspect-ratio: 345/523; // 幅 / 高さ
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.page-about-gallery__pic1 img {
  // height: 100%;
}

.page-about-gallery__pic2 {
  grid-area: item2;
  aspect-ratio: 345/219; // 幅 / 高さ
  overflow: hidden;
}

.page-about-gallery__pic2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-about-gallery__pic3 {
  grid-area: item3;
  background: sandybrown;
}

.page-about-gallery__pic4 {
  grid-area: item4;
  background: lightgreen;
}

.page-about-gallery__pic5 {
  grid-area: item5;
  background: lightblue;
}

.page-about-gallery__pic6 {
  grid-area: item6;
  background: chocolate;
}
