@use "global" as *;
.voice {
  padding-top: rem(80);
  padding-bottom: rem(82);

  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}

.voice__inner {
  // max-width: rem(600);
  
  @include mq("md") {
    position: relative;
  }
}

.voice__bg-image-fishes {
  display: none;

  @include mq("md") {
    display: block;
    width: rem(301);
    max-width: 100%;
    position: absolute;
    top: rem(-115);
    left: rem(-55);
  }
}

.voice__bg-image-seadragon {
  display: none;

  @include mq("md") {
    display: block;
    width: rem(71);
    max-width: 100%;
    position: absolute;
    bottom: rem(-71);
    right: rem(25);
  }
}

.voice__heading {
  padding-top: rem(8);

  @include mq("md") {
    padding-top: rem(6);
  }
}

.voice__cards {
  padding-top: rem(46);
  gap: rem(40);
  display: grid;

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    padding-top: rem(33);
    flex-direction: row;
  }
}

.voice__card {
}

.voice__button {
  padding-top: rem(40);
  text-align: center;

  @include mq("md") {
    padding-top: rem(80);
  }
}
